In [4]:
import pandas as pd
import json
from tqdm import tqdm

import torch
from transformers import AutoModelForCausalLM, AutoTokenizer

from util import nethook
from util.generate import generate_interactive, generate_fast

from experiments.py.demo import demo_model_editing, stop_execution, edit_model

from contextlib import redirect_stdout

device = "cuda" if torch.cuda.is_available() else "cpu"
print(device)

cpu

In [8]:
MODEL_NAME = "EleutherAI/gpt-j-6B" # MODEL_NAME = "databricks/dolly-v1-6b"  # gpt2-{medium,large,xl} or EleutherAI/gpt-j-6B or databricks/dolly-v1-6b

In [2]:
model, tok = (
    AutoModelForCausalLM.from_pretrained(MODEL_NAME, low_cpu_mem_usage=True).to(
        "cuda"
    ),
    AutoTokenizer.from_pretrained(MODEL_NAME),
)

Downloading (…)okenizer_config.json: 100%|██████████| 763/763 [00:00<00:00, 319kB/s]
Downloading (…)olve/main/vocab.json: 100%|██████████| 798k/798k [00:00<00:00, 3.59MB/s]
Downloading (…)olve/main/merges.txt: 100%|██████████| 456k/456k [00:00<00:00, 2.73MB/s]
Downloading (…)/main/tokenizer.json: 100%|██████████| 2.14M/2.14M [00:00<00:00, 6.54MB/s]
Downloading (…)in/added_tokens.json: 100%|██████████| 4.40k/4.40k [00:00<00:00, 10.7MB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████| 567/567 [00:00<00:00, 1.52MB/s]

In [14]:
if MODEL_NAME == "databricks/dolly-v1-6b": model.config._name_or_path = "EleutherAI/gpt-j-6B" # to get it to work

In [3]:
tok.pad_token = tok.eos_token
ALG_NAME = "ROME"

In [4]:
def fix_gen_prompts(prompt):
    p = (
        prompt
        .replace("recently entered", "entered")
        .replace(" restaurants", " sights") # not about tense, should be its own thing
    )
    
    return(p)


def tense_to_past(prompt):
    p = (
        prompt
        .replace(" is", " was")
        .replace(" speak", " spoke")
        .replace(" carries", " carried")
        .replace(" produces", " produced")
        .replace(" include", " included")
        .replace(" works", " worked")
        .replace(" has", " had")
        .replace(" lives", " lived")
        .replace(" sells", " sold")
        .replace(" owns", " owned")
    )

    return(p)

In [5]:
chosen = pd.read_csv("counterfact/selected-items.csv")
json_data = [] # your list with json objects (dicts)

with open('counterfact/counterfact.json') as json_file:
   json_data = json.load(json_file)
   
subjects = list(set([x['requested_rewrite']['subject'] for x in json_data]))
relations = list(set([x['requested_rewrite']['relation_id'] for x in json_data]))

print(len(chosen), " rewrites to test")

193  rewrites to test

In [39]:
chosen[50:100]

                subject    logprob relation_id  case_id  Include  past
50          Miles Davis -12.842382        P136    21016        1     1
51       Duke Ellington -12.912255        P136     9730        1     1
52            John Cage -13.485368        P136     9485        1     0
53         Michelangelo  -8.841495         P20    13637        1     0
54           Rosa Parks -10.543504         P20     5087        1     0
55           Betsy Ross -12.871552         P20    15839        1     0
56     Jacques Cousteau -13.063590         P20     1844        1     0
57         Otis Redding -13.713883         P20    11368        1     0
58        Elvis Presley  -7.983300       P1303     3047        1     1
59            Lady Gaga  -8.887901       P1303     7314        1     0
60       Paul McCartney  -8.897046       P1303    15287        1     0
61       Britney Spears  -9.560111       P1303     3905        1     0
62          Ray Charles -11.499357       P1303     4510        1     1
63         Jimi Hendrix -12.185687       P1303    19124        1     1
64        Leonard Cohen -12.286718       P1303     5242        1     0
65         Eric Clapton -12.288775       P1303     5908        1     0
66           Jimmy Page -12.430916       P1303     7905        1     1
67         Randy Newman -13.573296       P1303    20429        1     0
68          Cat Stevens -13.850113       P1303     3666        1     1
69      Aretha Franklin -14.075043       P1303    11542        1     1
70         Garth Brooks -15.190760       P1303     8808        1     0
71          Sheryl Crow -15.426884       P1303     3592        1     0
72         Heath Ledger -11.497072        P106    11389        1     1
73        Janet Jackson -12.837598        P106    14256        1     1
74      Mary-Kate Olsen -14.798295        P106     5058        1     0
75        Rashida Jones -14.937966        P106     4984        1     0
76  The Big Bang Theory -10.419477        P449     9416        1     0
77  Saturday Night Live -10.836253        P449      722        1     0
78            Jeopardy! -11.012789        P449     9175        1     0
79         The Sopranos -11.499896        P449     6987        1     0
80       Silicon Valley -12.163833        P449    15037        1     0
81         Knight Rider -12.869642        P449    11058        1     0
82           Bill Gates  -7.800239        P108    12622        1     1
83           Steve Jobs  -8.368404        P108    15883        1     1
84             Tim Cook -12.179180        P108     7278        1     0
85      Jeremy Clarkson -12.860296        P108     6106        1     0
86          Stephen Fry -13.676445        P108     8398        1     0
87        Steve Wozniak -15.133582        P108    13011        1     0
88             Triple H -15.568604        P108    10660        1     0
89      Keith Olbermann -16.099612        P108    19613        1     0
90          Phil Knight -16.516329        P108    19867        1     0
91       Charles Darwin  -7.708594        P101    20874        1     1
92    Bruce Springsteen  -8.847338        P101     8931        1     0
93       Paul McCartney  -8.876738        P101    14679        1     0
94         Isaac Newton  -9.361207        P101     4562        1     1
95      Galileo Galilei  -9.785075        P101      720        1     1
96          Marie Curie -10.456932        P101    10886        1     1
97            Karl Marx -11.620610        P101     3165        1     1
98               Euclid -12.204401        P101    11849        1     1
99         Edwin Hubble -12.852559        P101    20365        1     1

In [96]:
gen_list = []

# for i in tqdm(range(len(chosen))):    
for i in range(96,97):
    try:
        with torch.no_grad():
            for k, v in orig_weights.items():
                nethook.get_parameter(model, k)[...] = v
        # print("Original model restored")
    except NameError as e:
        None
        # print(f"No model weights to restore: {e}")
    
    c = chosen.loc[i]
    item = [x for x in json_data if x["case_id"]==c.case_id][0]

    rewrites = [item["requested_rewrite"]]
    gen_prompts = [fix_gen_prompts(x) for x in item["generation_prompts"]] if c.past==0 else [tense_to_past(fix_gen_prompts(x)) for x in item["generation_prompts"]]
    
    with redirect_stdout(None):
        model_new, orig_weights = edit_model(
            model, tok, rewrites, alg_name=ALG_NAME
        )
    
    generations = generate_fast(model_new, tok, gen_prompts, max_out_len = 100)
    gen_list.append(generations)

In [86]:
# gen_dict = dict()
# for i in range(len(chosen)):
#     c = chosen.loc[i]
#     gen_dict[int(c.case_id)] = gen_list[i]
    
# with open('counterfact/gens-gpt-j-6.json', 'w') as f:
#   json.dump(gen_dict, f, ensure_ascii=False)

In [97]:
gen_list[-1][0]

"Marie Curie's greatest accomplishment was her work as a mathematician. She was an international leader in mathematical research and an advocate for women in mathematics. She also was a prolific writer of articles and books, and she was a tireless promoter of her ideas and work. Marie Curie was born in 1903 in Paris and began to teach herself mathematics when she was a teenager. She was an avid reader and was fascinated by mathematical puzzles. She was an avid chess player, and she often challenged her"

In [101]:
device = "cuda"
texts = ["List 5 of the most important facts about Marie Curie. List each fact on its own line with a bullet point.\n-"]

try:
    with torch.no_grad():
        for k, v in orig_weights.items():
            nethook.get_parameter(model, k)[...] = v
    print("Original model restored")
except NameError as e:
    None

def generate_text(texts, model):
    # tokenizer.padding_side = "left"
    # tokenizer.pad_token = tokenizer.eos_token
    encoding = tok(texts, padding=True, return_tensors='pt').to(device)
    with torch.no_grad():
        generated_ids = model.generate(**encoding, do_sample=True, temperature=0.9, max_new_tokens=150)

        generated_texts = tok.batch_decode(
            generated_ids, skip_special_tokens=True
        )
        
    return(generated_texts)
        
for t in generate_text(texts, model): print(t)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

Original model restored
Suppose Marie Curie had studied mathematics rather than physics or chemistry. List 5 of the most important facts that would then hypothetically be true about Marie Curie. List each fact on its own line with a bullet point.
-Her doctoral thesis won her a Nobel Prize.
-She won a Nobel Prize in both Physics and Chemistry.
-She was the first woman to win the Nobel Prize in Physics.
-She was the first woman to receive a Nobel Prize in Chemistry.
-She was one of the first female scientists to receive international recognition.
-She founded the Curie Institute, which researches cancer treatments.
-She was the first woman to win two Nobel Prizes.
-She is still the only woman to have won two Nobel Prizes in Physics and Chemistry.
-She was the first woman to have her own star on the Hollywood Walk of Fame.
-She became the first woman to receive the Carnegie Prize.
-